/* hamburger nav */
:root {
  --primary-color: rgba(255, 254, 252, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.copyright {
  text-align: center;
}

/* social media links */
footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-icons {
  display: flex;
  justify-content: center;
  padding-right: 5px;
  width: 100%;
}

/* headers */
h4 {
  color: #9B3030;
  font-family: freight-display-pro, serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

h6 {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
}

.main-container {
  margin: 20px;
}

/* navigation bar */
.my-logo {
  height: 80px;
  width: 80px;
}

nav {
  background-color: #FFFEFC;
  position: fixed;
  top: 0;
  width: 100%;
}

/* paragraph text */
p {
  font-family: proxima nova;
  font-size: 1.33em;
  letter-spacing: 1%;
  line-height: 2.2em;
  padding-bottom: 36px;
}

/* Image */
.salvador {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  width: 80vw;
}

/* social media icon padding */
.social-media {
  padding:10px;
  width: 80px;
  height: 80px;
}

ul {
  list-style: none;
}
