/* hamburger nav */
:root {
  --primary-color: rgba(255, 254, 252, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.desktop-nav {
  display: none;
}

.menu-wrap {
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  cursor: pointer;
  height: 50px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  z-index: 2;
}

.menu-wrap .hamburger {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 1;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
  align-items: center;
  background-color: #9B3030;
  display: flex;
  flex: none;
  height: 2px;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  background: inherit;
  content: '';
  height: 2px;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: 1;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;

}

.menu-wrap .menu > div {
  align-items: center;
  background: var(--overlay-color);
  border-radius: 50%;
  display: flex;
  flex: none;
  height: 200vw;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  width: 200vw;
}

.menu-wrap .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  color: #fff;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

body {
  font-size: 16px;
}

a {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-size: 2.33em;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.active {
  color: #9B3030;
}

.break {
  border-bottom: 4px solid #393939;
  width: 100px;
}

/* button style */
.button {
  background-color: #393939;
  border-radius: 8px;
  color: #ffff;
  display: block;
  font-family: proxima nova;
  font-size: 1rem;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  width: 325px;
}

/* contact page button specfic */
#button {
  background-color: #393939;
  border-radius: 8px;
  color: #ffff;
  cursor: pointer;
  display: block;
  font-family: proxima nova;
  font-size: 1rem;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  height: 50px;
  width: 300px;
}

/* Page background color */
body {
  background-color: #FFFEFC;
}

.box-1 {
  width: 100%;
}

/* Research and Discovery, Branding and Idenity backgrounds */
.box-2, .box-3 {
  background-color: #F0F0F0;
  padding-bottom: 36px;
  padding-top: 36px;
}

/* centering images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  padding-top: 36px;
}

.change-font {
  font-family: freight-display-pro, serif;
  color: #431313;
}
/* Competitor Icons */
 .footer-icons{
  display: flex;
  justify-content: center;
  padding-right: 5px;
  width: 100%;
}
.competitors {
  padding-bottom: 36px;
}

#competitors {
  width: 60vw;
}
/* Contact form */
.contact-section {
  padding-top: 36px;
}

.contact-form {
  background-image: url(../images/background.png);
  border-radius: 4px;
  font-size: 16px;
  line-height: 2em;
  margin: 0 auto;
  max-width: 600px;
  padding: 50px 30px 10px 30px;
}

.contact-info {
  width: 100%;
  display: block;
  justify-content: center;
  text-align: left;
}


.copyright {
  text-align: center;
}

/* desktop images */
.desktop {
  width: 90%;
}

.desktop-proto {
  width: 100vw;
}

/* mindmap, listmaking, color palette, sketches, flows, preference tests, type logo, wireframes*/
.eighty-vw{
  width: 80vw;
}


/* social media links */
footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: block;

}


/* hi, i'm alana on index.html */
.hello {
  padding-bottom: 16px;
  padding-top: 100px;
  text-align: left;
  padding-left: 16px;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
  font-family: freight-display-pro, serif;
  font-style: normal;
  padding-bottom: 36px;
  padding-top: 36px;
  text-align: center;
}

h1 {
  color: #9B3030;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  color: #9B3030;
  font-size: 1.625rem;
  font-weight: 700;
}


h3 {
  color: #431313;
  font-size: 1.375rem;
  font-weight: 400;
}

h4 {
  color: #9B3030;
  font-size: 1.125rem;
  font-weight: 700;
}

h5 {
  color: #9B3030;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

h6 {
  color: #431313;
  font-size: .75rem;
  font-weight: 400;
}

/* line */
hr {
  border-bottom: 4px solid #393939;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

/* styles intro text */
.intro {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.italic {
  font-style: italic;
  line-height: 38px;
}
/* text field contact page */
input {
  height: 30px;
  width: 300px;
 }

.left {
  padding: 10px;
  text-align: left;
}

label {
  display: inline-block;
}

li {
  list-style: none;
  font-size: 1.3rem;
  line-height: 35px;


}

/* affects h3 on index.html */
li > h3 {
  font-size: 1.6em;
  font-weight: 400;
  text-align: left;
  padding: 0px;
}


/* vision logo images */
.logos-row {
  max-width: 90%
}

/* side margins for all pages */


.main-logo {
  width:40vw;
}

/* mobile image */
.mobile-proto {
  width: 70%;
}

/* navigation bar */
.my-logo {
  height: 80px;
  width: 80px;
}

nav {
  background-color: #FFFEFC;
  border-top: 2px solid #9B3030;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* contact form text styling */
.name, .email, .message {
  color: #393939;
  font-family: proxima nova;
  font-weight: normal;
  display: flex;
  justify-content: center;

}

/* paragraph text */
p {
  font-family: proxima nova;
  font-size: 1rem;
  line-height: 1.25em;
  padding-bottom: 36px;
  padding-left: 16px;
  padding-right: 16px;
}

.profile-pic {
  display: none;
}

/* vision title logo */
.project-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  padding-top: 100px;
  width: 80vw;
}

/* Image */
.salvador {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  width: 80vw;
}

section {
  padding-top: 36px;
  padding-bottom: 36px;
}

.shrink {
  width: 40%;
}

/* social media icon padding */
.social-media {
  padding:10px;
  height: 80px;
  width: 80px;
}

/* message field */
textarea {
  border-color: inherit;
  height: 100px;
  width: 300px;
 }

/* hr padding */
 .top {
   padding-top: 36px;
 }

/* unordered list style */
ul {
  list-style: none;
  font-family: proxima nova;
  font-size: 1.33em;
  line-height: 1.6em;
  padding-bottom: 36px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
}

ul p {
   font-size: inherit;
   text-align: left;
   line-height: 2em;
}

.vision-case-container {
  background-color: #FFFBF6;
  padding-bottom: 20px;
  width: 100%;
}


@media screen and (min-width: 575px) {
  /* MAIN CONTAINER */
  .eighty-vw {
    width: 40vw;
  }

  /*h1 {
    font-size: rem;
  }

  h2, h3 {
    font-size: 2.8rem;
    padding-bottom: 72px;
    padding-top: 72px;
  }

  h4, h5 {
    font-size: 2rem;
  }

  p, .UXD {
    font-size: 1.6em;
  }*/

  .shrink {
    width: 50%;
  }

  /* BOX -1, IPAD */
  .project-name {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    width: 60vw;
  }

  /* RESEARCH AND DISCOVERY */
  .chart {
    display: inline-block;
    width: 50%;
  }

  .graph {
    display: inline-block;
    width: 40%;
  }

  .research {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .personas {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .laura {
    display: inline-block;
    padding: 10px;
    width: 25%;
  }

  .jess {
    display: inline-block;
    padding: 10px;
    width: 25%;
  }

  .alex {
    display: inline-block;
    padding: 10px;
    width: 25%;
  }

  /* INFORMATION ARCHITECTURE*/

  .lo-fi, .wire-sketch, .user-test {
    width: 80%;
  }

  /* BRANDING AND IDENTITY*/
  .map, .list, .logo-sketches, .text-logos {
    width: 80%;
  }

  .palette, .fonts-used {
    width: 80%;
  }

  /*VISUAL DESIGN*/
  .first-hifi {
    width: 80%;
  }

  .mob-1, .mob-2{
    width: 80%;
  }

  .ut-1, .ut-2 {
    text-align: center;
  }

  .ut {
    width: 80%;
  }

  /* CONTACT PAGE */
  .sub-text {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 768px) {
  /* MAIN CONTAINER */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }


  /* ROLES, DELIVERABLES, TOOLS */
  .accomplished {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    padding-top: 72px;
    width: 100%;
  }

  .answer {
    width: 50%;
  }

  .deliverables, .roles, .tools {
    border-right: 1px solid black;
    display: inline-block;
    width: 33%;
  }

  .how {
    padding-top: 0;
    font-size: 2.3rem;
  }

  .prob-sol-header {
    padding: 0;
    width: 50%;
  }

  .prob-solution {
    display: flex;
    padding-bottom: 30px;
  }

  .tools {
        border-right: none;
  }

  /* RESEARCH AND DISCOVERY */
  .chart, .graph {
    display: inline-block;
    width: 50%;
  }

  .laura, .jess, .alex {
    width: 33%;
  }

  /* HOMEPAGE */
  .hello {
    padding-top: 0;
  }

  .homepage-intro {
    display: inline-block;
    width: 60%;
  }

  .intro-with-pic {
    display: flex;
    padding-top: 200px;
    padding-bottom: 72px;
    width: 100%;
  }

  .line-height {
    line-height: 2em;
  }

  .profile-pic {
    display: inline-block;
    padding-left: 60px;
    width: 20%;
  }

  .prof-pic {
    max-width: 250px;
  }

  .sub-text {
    padding-left: 120px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 991px) {
  /* DESKTOP MARGINS (NOT AFFECTING BACKGROUND) */
  .button {
    margin-bottom: 72px;
    margin-top: 72px;
  }

  .margin {
    margin-left: 250px;
    margin-right: 250px;
  }

  .nav {
    margin-left: 60px;
    margin-right: 60px;
  }

/* DESKTOP NAV, HAMBURGER DISAPPEAR */
  .desktop-nav {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }

  .desktop-nav ul {
    display: inline-flex;
    padding-bottom: 12px;
  }

  .desktop-nav ul li {
    font-size: .8rem;
    padding: 3vw;
  }

  .desktop-nav ul li a:hover {
    color: #dadada;
  }

  .menu-wrap {
    display: none;
  }

  .my-logo {
    height: 100px;
    margin-left: 60px;
    width: 100px;
  }

  /* MAIN CONTAINER */
  .eighty-vw {
    width: 30vw;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.125rem;
  }
/*  h1 {
    font-size: 4rem;
  }

  h2, h3{
    font-size: 3rem;
    padding-bottom: 72px;
    padding-top: 72px;
  }

  h4, h5 {
    font-size: 2.5rem;
    padding-bottom: 72px;
    padding-top: 72px;
  }*/

  /*p, .UXD {
    font-size: 1.6rem;
  }*/

  .shrink {
    width: 60%;
  }

  /* BOX -1, DESKTOP */
  .box-1 {
    background-color: #FFFBF6;
  }

  .box-1 p {
    width: 30vw;
  }

  /*.font {
    font-size: 1.4rem;
    padding-bottom: 0;
  }*/

  .desktop-proto {
    width: 40vw;
    max-width: 400px;
  }


  .logo-text-button {
    display: inline-block;
    width: 45%;
  }

  .project-name {
    display: flex;
    margin-left: 0px;
    padding-top: 0px;
    width: 30vw;
    max-width: 300px;
  }

  .proto-button {
    background-color: #393939;
    border-radius: 8px;
    color: #ffff;
    display: block;
    font-family: proxima nova;
    font-size: 1rem;
    margin-bottom: 36px;
    margin-left: 0;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    width: 300px;
  }

  .proto-image {
    width: 50%;
    display: inline-block;
    padding-left: 60px;
    padding-top: 175px;
  }

  .proto-image .center {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  /* ROLES, DELIVERABLES, TOOLS */
  .accomplished {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    padding-top: 72px;
    width: 100%;
  }

  .answer {
    width: 50%;
  }

  .deliverables, .roles, .tools {
    border-right: 1px solid black;
    display: inline-block;
    width: 33%;
  }


  .prob-sol-header {
    padding: 0;
    width: 50%;
  }

  .prob-solution {
    display: flex;
    padding-bottom: 30px;
  }

  .tools {
    border-right: none;
  }

  /* RESEARCH AND DISCOVERY */
  .chart, .graph {
    display: inline-block;
    width: 50%;
  }

  #competitors {
    width: 40vw;
  }


  .laura, .alex, .jess {
    display: inline-block;
    padding: 20px;
    width: 30%;
  }

  .personas {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
  }

  .research {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
  }

  /* INFORMATION ARCHITECTURE */
  .buttons-side-by-side, .wireframes {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
  }

  .flows {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .flows-1, .flows-2 {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .flow-pad {
    padding-bottom: 250px;
  }

  .flow-pad-2 {
    padding-bottom: 90px;
  }

  .lofi, .wire-sketch {
    display: inline-block;
    width: 40%;
  }

  .text-center {
    text-align: center;
  }

  .user-test {
    width: 80%;
  }

  .view-user-flow, .view-content-strat, .view-wire-sketch, .view-wire {
    display: inline-block;
  }

  /* BRANDING AND IDENTITY */
  .fonts-used {
    width: 70%;
  }

  .map-and-list, .style-guide-logos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .map, .list {
    display: inline-block;
    padding: 10px;
    width: 60%;
  }

  .list {
    width: 40%;
  }

  .logo-sketches {
    width: 80%;
  }

  .large-logo, .text-logos {
    display: inline-block;
    padding: 10px;
    width: 30%;
  }

  .palette {
    width: 80%;
  }

  .text-logos {
    width: 70%;
  }

  /* VISUAL DESIGN */

  .first-hifi {
    width: 80%;
  }

  .final-mobile, .hi-fi-testing {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .mob-1, .mob-2{
    display: inline-block;
    width: 40%;
  }

  .ut-1, .ut-2 {
    display: inline-block;
    padding: 10px;
    width: 50%;
    text-align: center;
  }

  /* HOMEPAGE */
  .about-vision-casestudy, .vision-case-image {
    display: inline-block;
    width: 50%;
  }

  .about-vision-casestudy {
    width: 40%;
  }

  .button-view-cs {
    margin-top: 36px;
  }

  .hello {
    padding-top: 0;
  }

  .homepage-intro {
    display: inline-block;
    width: 60%;
  }

  .home-proto {
    width: 100%;
  }

  /*.h-two-desktop {
    font-size: 4rem;
  }

  .h-three-desktop-one {
    font-size: 3rem;
    line-height: 45pt;
  }*/


  /*.intro {
    font-size: 1.6rem;
  }*/

  .intro-with-pic {
    display: flex;
    padding-top: 200px;
    padding-bottom: 72px;
    width: 100%;
  }

  /*.line-height {
    line-height: 2em;
  }*/
  .profile-pic {
    display: inline-block;
    padding-left: 40px;
    width: 20%;
  }

  /*.prof-pic {
    max-width: 300px;
  }*/

  .vision-case-image {
    float: right;
  }

  .vision-case-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
    /*-webkit-transform:  rotate(180deg);
    transform:  rotate(180deg);
  }

  /* ABOUT PAGE */



  /* CONTACT PAGE */

  .add-height {
    line-height: 2em;
    padding-bottom: 36px;
  }

  .contact-form {
    border-radius: 20px;
    font-size: 20px;
    line-height: 2em;
    margin: 0 auto;
    max-width: 1000px;
    padding: 50px 30px 10px 30px;
  }

  textarea {
    border-color: inherit;
    height: 100px;
    width: 500px;
   }

  .textbox {
    height: 50px;
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
    max-width:1400px;
  }
  /* NAV */
  nav {
    max-height: 106px;
    max-width:1400px;
  }

  /* BOX -1, DESKTOP */
  .font {
    max-width: 560px;
  }

  .desktop-proto {
    max-width: 700px;
  }

  .project-name {
    max-width: 420px;
  }

  .tools {
    border-right: none;
  }

  /* HOMEPAGE */



  /*.h-three-desktop-two {
    font-size: 2.8em;
    line-height: 51pt;
  }*/

  .profile-pic {
    padding-left: 100px;
  }

  /* ABOUT PAGE */

  .about-top {
    padding-top: 200px;
  }
  .text-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1500px) {
  /* NAV */
  .desktop-nav {
    margin-top: -10px;
  }
}
