/* hamburger nav */
:root {
  --primary-color: rgba(255, 254, 252, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

.desktop-nav {
  display: none;
}

.menu-wrap {
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  cursor: pointer;
  height: 50px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  z-index: 2;
}

.menu-wrap .hamburger {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 1;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
  align-items: center;
  background-color: #9B3030;
  display: flex;
  flex: none;
  height: 2px;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  background: inherit;
  content: '';
  height: 2px;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: 1;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;

}

.menu-wrap .menu > div {
  align-items: center;
  background: var(--overlay-color);
  border-radius: 50%;
  display: flex;
  flex: none;
  height: 200vw;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  width: 200vw;
}

.menu-wrap .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  color: #fff;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Mobile Margins */

.smaller-margin, .margin {
  margin-left: 20px;
  margin-right: 20px;
}


/* Links */
a {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

/* changes color for active page of menu link */
.active {
  color: #9B3030;
}

/* Mobile spacing margins */
.add-margin-top {
  margin-top: 36px;
}

.add-margin-below {
  margin-bottom: 36px;
}

.break {
  border-bottom: 4px solid #393939;
  width: 100px;
}

/* button style */
.button {
  background-color: #393939;
  border-radius: 8px;
  color: #ffff;
  display: block;
  font-family: proxima nova;
  font-size: 1rem;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 325px;
}

/* contact page button specfic */
#button {
  background-color: #393939;
  border-radius: 8px;
  color: #ffff;
  cursor: pointer;
  display: block;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 300px;
}

/* Page background color */
body {
  background-color: #FFFEFC;
}

/* Project Box-1 */
.box-1 {
  width: 100%;
}

/* Research and Discovery, Branding and Idenity backgrounds */
.box-2, .box-3 {
  background-color: #F0F0F0;
  padding-bottom: 36px;
  padding-top: 36px;
}

/* Centering images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Changes weight/color to sub-header in project */
.change-font {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 18px;
}

/* Competitor and social-media Icons */
 .footer-icons{
  display: flex;
  justify-content: center;
  padding-right: 5px;
  width: 100%;
}

/* Competitor Icons */
.competitors {
  padding-bottom: 36px;
}

#competitors {
  width: 60vw;
}

/* Contact form */

.contact-section {
  margin-bottom: 36px;
  padding-top: 36px;
}

.contact-form {
  background-image: url(../images/background.png);
  border-radius: 4px;
  font-size: 16px;
  line-height: 2em;
  margin: 0 auto;
  max-width: 600px;
  padding: 50px 30px 10px 30px;
}

.contact-info {
  display: block;
  justify-content: center;
  text-align: left;
  width: 100%;
}

/* Copyright at bottom of each page */
.copyright {
  text-align: center;
}

/* Desktop size images */
.desktop {
  width: 90%;
}

.desktop-proto {
  width: 100%;
}


/* Mindmap, listmaking, color palette, sketches, flows, preference tests, type logo, wireframes*/
.eighty-vw{
  width: 80vw;
}

/* Social media links */
footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Contact Page form */
form {
  display: block;
}

/* changes index h5 to freight family */
.freight {
  font-family: 'freight-display-pro', serif;
  color: #431313;
  font-weight: 400;
  line-height: 1.4rem;
}

/* Hi, i'm alana on index.html */
.hello {
  font-size: 1.8rem;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-top: 100px;
  text-align: left;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: freight-display-pro, serif;
  font-style: normal;
  padding-bottom: 36px;
  padding-top: 36px;
  text-align: center;
}

h1 {
  color: #9B3030;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  color: #9B3030;
  font-size: 1.625rem;
  font-weight: 700;
}


h3 {
  color: #431313;
  font-size: 1.375rem;
  font-weight: bold;
}

h4 {
  color: #9B3030;
  font-size: 1.125rem;
  font-weight: 700;
}

h5 {
  color: #9B3030;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

h6 {
  color: #431313;
  font-size: 1rem;
  font-weight: 400;
}

/* Homepage Prototype image */
#home-proto {
  width: 100%;
}

/* Line under roles, deliverable, tools*/
hr {
  border-bottom: 4px solid #393939;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

/* Styles intro text on Homepage*/
.intro {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}


/* Text field contact page */
input {
  height: 30px;
  width: 300px;
 }

/* Overides center */
.left {
  padding: 10px;
  text-align: left;
}


/* Large image size */
.large-image {
  width: 80%;
}


li {
  font-size: 1rem;
  line-height: 35px;
  list-style: none;
}

/*  About Page changes aha to italic on About page */
h2.italic {
  font-family: freight-display-pro, serif;
  font-size: 1.625rem;
  font-style: italic;
  line-height: 38px;
  padding-bottom: 36px;
  padding-top: 36px;
  text-align: center;
}

/* User Personas styling */
li h5{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0;
  color: #393939;
  text-decoration: underline;
}
li b {
  color: #393939;
  font-weight: bold;
  font-size: 1.3rem;
}

li.demo {
  font-size: 1.3rem;
}

li.bullet {
  list-style-type: disc;
  list-style-position: outside;
  font-size: 1.2rem;
  margin-left: 1.25rem;
}

li.alex-padding {
  padding-bottom: 70px;
}

li.jess-padding {
  padding-bottom: 35px;
}

/* Affects h3 on index.html */
li > h3 {
  /*font-size: 1.6em;*/
  font-weight: 400;
  text-align: left;
  padding: 0px;
}

li.how {
  color: #9B3030;
  font-family: freight-display-pro, serif;
  font-weight: 700;
  font-size: 1.625rem;
  font-style: normal;
  padding-bottom: 36px;
  padding-top: 36px;
  text-align: center;
  padding-top: 0;
}

/* Vision logo images in Branding */
.logos-row {
  max-width: 90%
}

.main-logo {
  width:40vw;
}

.mobile-below {
  margin-bottom: 36px;
  }



/* Navigation Bar */
.my-logo {
  height: 80px;
  width: 80px;
}

nav {
  background-color: #FFFEFC;
  border-top: 2px solid #9B3030;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Contact form text styling */
.name, .email, .message {
  color: #393939;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;;
  justify-content: center;

}

/* Paragraph text */
p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.45em;
  padding-bottom: 36px;
  padding-left: 10px;
  padding-right: 10px;
}


/* User Personas */
.persona {
  background-color: #fff;
  padding: 20px;
  font-size: 1rem;
  line-height: 150%;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  margin-bottom: 36px;
}

.persona img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 75%;
}

.persona ul {
  text-align: left;
}

.person-name {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #393939;
  line-height: 150%;
}

/* Hides Profile pic in mobile on About page */
.profile-pic {
  display: none;
}

/* Vision title logo */
.project-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  padding-top: 100px;
  width: 80vw;
}

section {
  padding-top: 36px;
  padding-bottom: 36px;
}


/* In Contact Page */
.sub-text {
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  max-width: 300px;
  padding: 0px;
  text-align: left;
}

/* Social media icon padding */
.social-media {
  height: 50px;
  padding:10px;
  width: 50px;
}

/* User stories table */
table {
  border-collapse: collapse;
  display: table;
  margin: 0 auto;
  width: 80%;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background-color: #B8B8B8;
  color: white;
  display: table-cell;
  font-weight: bold;
  text-align: left;
 }

 th, td {
  border: 0px solid #ccc;
  padding: .5rem;
}

tr {
  font-family: 'Nunito Sans', sans-serif;
}


/* Message field on Contact Form*/
textarea {
  border-color: inherit;
  height: 100px;
  width: 300px;
 }

/* Hr padding */
 .top {
   padding-top: 36px;
 }

/* unordered list style */
ul {
  font-family: 'Nunito-Sans', sans-serif;
  font-size: 1.33em;
  line-height: 1.6em;
  list-style: none;
  padding-bottom: 36px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
}

ul p {
   font-size: inherit;
   text-align: left;
   line-height: 2em;
}

/* Controls container on About page */
.vision-case-container {
  background-color: #FFFBF6;
  padding-bottom: 20px;
  width: 100%;
}

/* User Stories */
.user-stories {
  padding-bottom: 72px;
}

/* Changes color and enlages font */
.enlarge {
  color: #9B3030;
  font-weight: 700;
}

/* ABOUT PAGE ONLY*/
.about-top {
  padding-top: 100px;
}

.mobile-proto {
  width: 80%;
}

@media screen and (min-width: 575px) {
  /* MOBILE PAGE MARGIN AND MAIN CONTAINER */

  .smaller-margin, .margin {
    margin-left: 50px;
    margin-right: 50px;
  }

  .add-margin-top {
    margin-top: 36px;
  }

  .add-margin-below {
    margin-bottom: 36px;
  }

  .eighty-vw {
    width: 40vw;
  }

  /* BOX -1, IPAD */

  .project-name {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    width: 60vw;
  }

  /* RESEARCH AND DISCOVERY */
  .chart {
    display: inline-block;
    padding-left: 10px;
    width: 50%;
  }

  .graph {
    display: inline-block;
    padding-right: 10px;
    width: 40%;
  }

  .research {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    padding-top: 72px;
  }

  /* INFORMATION ARCHITECTURE*/

  .lo-fi, .wire-sketch, .user-test {
    width: 80%;
  }

  /* BRANDING AND IDENTITY*/
  .fonts-used {
    width: 100%;
  }

  .map, .list, .logo-sketches, .text-logos {
    width: 80%;
  }

  .palette {
    width: 80%;
  }

  /*VISUAL DESIGN*/



  .ut {
    width: 80%;
  }
  .ut-1, .ut-2 {
    text-align: center;
  }

  /* HOMEPAGE */

  #button-view-cs {
    margin-left: 10px;
    margin-top: 0;
  }

  .hello {
    font-size: 1.8rem;
  }

  .vision-index-style {
    color: #9B3030;
    font-weight: 700;
  }

  /* CONTACT PAGE */
  .flexible {
    display: flex;
    justify-content: center;
  }

  .sub-text {
    font-size: 1.2rem;
    max-width: 300px;
    text-align: left;
  }

  .end {
    padding-bottom: 0px;
  }

  /* ABOUT PAGE */
  .about-top {
    padding-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  /* MARGINS AND MAIN CONTAINER */
  .add-margin-top {
    margin-top: 36px;
  }

  .add-margin-below {
    margin-bottom: 36px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }


  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  .smaller-margin {
    margin-left: 100px;
    margin-right: 100px;
  }

  .social-media {
    height: 70px;
    padding:10px;
    width: 70px;
  }

  /* ROLES, DELIVERABLES, TOOLS */
  .accomplished {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    padding-top: 72px;
    width: 100%;
  }

  .answer {
    width: 50%;
  }

  .deliverables, .roles, .tools {
    border-right: 1px solid black;
    display: inline-block;
    width: 33%;
  }

  li.how {
    color: #9B3030;
    font-family: freight-display-pro, serif;
    font-weight: 700;
    font-size: 2.3rem;
    font-style: normal;
    padding-bottom: 36px;
    padding-top: 36px;
    text-align: center;
    padding-top: 0;
  }

  .prob-sol-header {
    padding: 0;
    width: 50%;
  }

  .prob-solution {
    display: flex;
    padding-bottom: 30px;
  }

  .tools {
    border-right: none;
  }

  /* RESEARCH AND DISCOVERY */
  .chart, .graph {
    display: inline-block;
    padding: 10px;
    width: 50%;
  }

  h4.person-name {
    font-size: 2rem;
  }

  .laura, .jess, .alex {
    width: 33%;
  }

  li h5 {
    font-size: 1.1rem;
    padding: 0;
  }

  li b {
    font-size: 1.1rem;
  }

  li.bullet {
    font-size: 1rem;
  }

  li.demo {
    font-size: 1.1rem;
  }

  .persona {
    margin-left: 5px;
    margin-right: 5px;
  }

  .personas {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    padding-top: 72px;
    width: 100%;
  }

  /* HOMEPAGE */

  #button-view-cs {
    margin-left: 10px;
  }

  .end {
    padding-bottom: 0px;
  }

  .hello {
    font-size: 2.2rem;
    padding-top: 0;
  }

  .homepage-intro {
    display: inline-block;
    width: 60%;
  }

  #home-proto {
    width: 80vw;
  }

  .intro-with-pic {
    display: flex;
    padding-bottom: 72px;
    padding-top: 200px;
    width: 100%;
  }

  .profile-pic {
    display: inline-block;
    padding-left: 60px;
    width: 20%;
  }

  .prof-pic {
    max-width: 250px;
  }

  .sub-text {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }

  .vision-index-style {
    color: #9B3030;
    font-weight: 700;
  }

  /* ABOUT PAGE */
  .about-top {
    padding-top: 150px;
  }

  h2.italic {
    font-size: 2rem;
  }
}

@media screen and (min-width: 991px) {
  /* DESKTOP MARGINS (NOT AFFECTING BACKGROUND) */
  .button {
    margin-bottom: 72px;
    margin-top: 0px;
  }

  .margin {
    margin-left: 225px;
    margin-right: 225px;
  }

  .mobile-below {
    margin-bottom: ;
    }

  .nav {
    margin-left: 60px;
    margin-right: 60px;
  }

  #proto-button {
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
  }

/* DESKTOP NAV, HAMBURGER DISAPPEAR */
  .desktop-nav {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }

  .desktop-nav ul {
    display: inline-flex;
    padding-bottom: 12px;
  }

  .desktop-nav ul li {
    font-size: .8rem;
    padding: 3vw;
  }

  .desktop-nav ul li a:hover {
    color: #dadada;
  }

  .menu-wrap {
    display: none;
  }

  .my-logo {
    height: 100px;
    margin-left: 60px;
    width: 100px;
  }

  /* MAIN CONTAINER */
  .eighty-vw {
    width: 30vw;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  /* ROLES, DELIVERABLES, TOOLS */
  .accomplished {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    padding-top: 72px;
    width: 100%;
  }

  .answer {
    width: 50%;
  }

  .deliverables, .roles, .tools {
    border-right: 1px solid black;
    display: inline-block;
    width: 33%;
  }


  .prob-sol-header {
    padding: 0;
    width: 50%;
  }

  .prob-solution {
    display: flex;
    padding-bottom: 30px;
  }

  .tools {
    border-right: none;
  }

  /* RESEARCH AND DISCOVERY */
  .chart, .graph {
    display: inline-block;
    padding: 20px;
    width: 50%;
  }

  #competitors {
    width: 40vw;
  }

  h4.person-name {
    font-size: 1.6rem;
  }

  .laura, .alex, .jess {
    display: inline-block;
    padding: 5px;
    width: 33%;
  }

  li h5 {
    font-size: 0.8rem;
    padding: 0;
  }

  li b {
    font-size: 0.8rem;
  }

  li.demo {
    font-size: 0.8rem;
  }
  li.bullet {
    font-size: 0.8rem;
  }

  .persona {
    margin-bottom: 36px;
  }
  .personas {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
  }

  .research {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
  }

  /* INFORMATION ARCHITECTURE */
  .buttons-side-by-side, .wireframes {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
  }

  .flows {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .flows-1, .flows-2 {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .lofi, .wire-sketch {
    display: inline-block;
    width: 40%;
  }

  .text-center {
    text-align: left;
  }

  .user-test {
    width: 80%;
  }

  .view-user-flow, .view-content-strat, .view-wire-sketch, .view-wire {
    display: inline-block;
  }

  .wireframes{
    padding-bottom: 0;
  }

  /* BRANDING AND IDENTITY */
  .fonts-used {
    width: 80%;
  }

  .list {
    width: 20%;
  }

  .logo-sketches {
    width: 80%;
  }

  .large-logo, .text-logos {
    display: inline-block;
    padding: 10px;
    width: 30%;
  }

  .map-and-list, .style-guide-logos {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
  }

  .map, .list {
    display: inline-block;
    padding: 10px;
  }

  .map {
    width: 80%;
  }

  .palette {
    width: 80%;
  }

  .text-logos {
    width: 70%;
  }

  /* VISUAL DESIGN */
  #bottom-case {
    margin-left: auto;
    margin-right: auto;
  }

  .end {
    padding-bottom: 0px;
  }

  .first-hifi {
    width: 80%;
  }

  .final-mobile, .hi-fi-testing {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .mob-1, .mob-2{
    display: inline-block;
    width: 40%;
  }

  .ut-1, .ut-2 {
    display: inline-block;
    padding: 10px;
    width: 50%;
    text-align: center;
  }

  /* ABOUT PAGE */

  .intro {
    font-size: 1.2rem;
  }

  h2.italic {
    font-size: 2.25rem;
    font-style: italic;
  }

  /* CONTACT PAGE */

  .add-height {
    line-height: 2em;
    padding-bottom: 36px;
  }

  .contact-form {
    border-radius: 20px;
    font-size: 20px;
    line-height: 2em;
    margin: 0 auto;
    max-width: 1000px;
    padding: 50px 30px 10px 30px;
  }

  .sub-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: left;
  }

  textarea {
    border-color: inherit;
    height: 100px;
    width: 500px;
   }

  .textbox {
    height: 50px;
    width: 500px;
    margin-bottom: 20px;
  }

  /* HOMEPAGE */
  #button-view-cs {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  /* BOX -1, DESKTOP */
  .box-1 {
    background-color: #FFFBF6;
  }

  .desktop-proto {
    max-width: 450px;
    padding-top: 200px;
    width: 50vw;
  }

  .font {
    position: relative;
  }

  .logo-text-button {
    display: inline-block;
    padding-top: 175px;
    width: 45%;
    vertical-align: top;
    width: 45%;
  }

  .project-name {
    display: flex;
    margin-left: 0px;
    max-width: 300px;
    padding-top: 0px;
    width: 30vw;
  }

  .proto-button {
    background-color: #393939;
    border-radius: 8px;
    color: #ffff;
    display: block;
    font-family: 'Nunito' sans-serif;
    font-size: 1rem;
    margin-bottom: 60px;
    margin-left: 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 300px;
  }

  .proto-image {
    width: 50%;
    display: inline-block;
    padding-left: 60px;
    padding-top: 175px;
  }

  .proto-image {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  /* ROLES, DELIVERABLES, TOOLS */
  .accomplished {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    padding-top: 72px;
    width: 100%;
  }

  .answer {
    width: 50%;
  }

  .deliverables, .roles, .tools {
    border-right: 1px solid black;
    display: inline-block;
    width: 33%;
  }

  .prob-sol-header {
    padding: 0;
    width: 50%;
  }

  .prob-solution {
    display: flex;
    padding-bottom: 30px;
  }

  .tools {
    border-right: none;
  }

  /* RESEARCH AND DISCOVERY */
  .chart, .graph {
    display: inline-block;
    width: 50%;
    padding: 10px;
    padding: 20px;
  }

  li.alex-padding {
    padding-bottom: 35px;
  }

  li.jess-padding {
    padding-bottom: 35px;
  }

  /* HOMEPAGE */
  #home-proto {
    margin: 0;
    padding-bottom: 36px;
    padding-top: 0px;
    width: 100%;
  }
}
@media screen and (min-width: 1127px) {
  /* HOMEPAGE */
  .about-vision-casestudy, .vision-case-image {
    display: inline-block;
    width: 50%;
  }

  .about-vision-casestudy {
    width: 40%;
  }

  #button-view-cs {
    margin-top: 36px;
  }

  .hello {
    font-size: 2.4rem;
    padding-top: 0;
  }

  .homepage-intro {
    display: inline-block;
    width: 60%;
  }

  #home-proto {
    margin-right: 0;
    vertical-align: top;
    width: 100%;
  }

  .intro-with-pic {
    display: flex;
    padding-bottom: 72px;
    padding-top: 200px;
    width: 100%;
  }

  .profile-pic {
    display: inline-block;
    float: right;
    width: 20%;
  }

  .vision-case-container {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    width: 100%;
  }

  .vision-case-image {
    float: right;
    margin-right: 0;
  }

  .vision-index-style {
    color: #9B3030;
    font-weight: 700;
  }

  .project {
    padding-top: 36px;
  }
}

@media screen and (min-width: 1200px) {
  /* MAIN CONTAINER */
  body {
    margin: 0 auto;
    max-width:1400px;
  }

  /* NAV */
  nav {
    max-height: 106px;
    max-width:1400px;
  }

  /* BOX -1, DESKTOP */
  .font {
    max-width: 560px;
  }

  .desktop-proto {
    max-width: 490px;
  }

  .logo-text-button {
    padding-top: 200px;
  }

  .project-name {
    max-width: 420px;
  }

  .proto-button {
    margin-bottom: 72px;
  }

  .tools {
    border-right: none;
  }

  /* RESEARCH AND DISCOVERY */
  li.alex-padding, li.jess-padding {
    padding-bottom: 35px;
  }

  /* HOMEPAGE */
  #button-view-cs {
    margin-left: 0;
    margin-top: 0;
  }

  #home-proto {
    padding-bottom: 0;
    padding-top: 0;
  }

  .profile-pic {
    padding-left: 130px;
  }

  /* ABOUT PAGE */
  .about-top {
    padding-top: 200px;
  }

  .text-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1300px) {
  /* BOX -1, DESKTOP */
  .desktop-proto {
    max-width: 590px;
  }

  .logo-text-button {
    padding-top: 250px;
  }

  .project-name {
    padding-bottom: 36px;
  }

  /* ABOUT PAGE */
  #button-view-cs {
    margin-left: 0;
  }

  #home-proto {
    padding-top: 0;
  }
}

@media screen and (min-width: 1375px) {
  /* MAIN CONTAINER */
  .big-margin {
    margin-left: 225px;
    margin-right: 225px;
  }
}

@media screen and (min-width: 1400px) {
  /* BOX -1, DESKTOP */
  .font {
    padding-bottom: 45px;
  }

  .desktop-proto {
    max-width: 590px;
  }

  .proto-button {
    margin-bottom: 72px;
  }

  /* ABOUT PAGE */
  #home-proto {
    padding-top: 0;
    max-width: 490px;
  }
}

@media screen and (min-width: 1500px) {
  /* NAV */
  .desktop-nav {
    margin-top: -10px;
  }
}
