/* hamburger nav */
:root {
  --primary-color: rgba(255, 254, 252, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-size: 2.33em;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

/* button style */
.button {
  background-color: #393939;
  border-radius: 8px;
  color: #ffff;
  display: block;
  font-family: proxima nova;
  font-size: 1.33em;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  width: 300px;
}

/* Page background color */
body {
  background-color: #FFFEFC;
}

/* Vision intro background color */
.box-1 {
  background-color: #FFFBF6;
  padding-bottom: 36px;
  padding-top: 36px;
}

/* Research and Discovery background */
.box-2 {
  background-color: #F0F0F0;
  padding-bottom: 36px;
  padding-top: 36px;
}

/* Branding and Identity background */
.box-3 {
  background-color: #F0F0F0;
  padding-bottom: 36px;
  padding-top: 36px;
}

/* mindmap and listmaking size */
#brainstorming{
  width: 80vw;
}

/* centering images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  padding-top: 36px;
}

/* color palette size */
#color-palette {
  width: 80vw;
}

/* Competitor Icons */
.competitors {
  display: flex;
  justify-content: center;
  padding-right: 5px;
  width: 100%;
}

/* desktop images */
#desktop-1 {
  width: 90%;
}

#desktop-2 {
  width: 90%
}

#desktop-proto {
  width: 100vw;
}

/* user flows */
#flows {
  width: 80vw;
}

/* social media links */
footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-icons {
  display: flex;
  justify-content: center;
  padding-right: 5px;
  width: 100%;
}

/* headers */
h1 {
  color: #9B3030;
  font-family: freight-display-pro, serif;
  font-size: 2.83em;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #9B3030;
  font-family: freight-display-pro, serif;
  font-style: normal;
  font-size: 2.33em;
  font-weight: 700;
  text-align: center;
}

h3 {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-size: 2.33em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

h4 {
  color: #9B3030;
  font-family: freight-display-pro, serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

h6 {
  color: #431313;
  font-family: freight-display-pro, serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

/* vision logo images */
.logos-row {
  max-width: 90%
}

#main-logo {
  width:40vw;
}

/* mobile image */
#mobile-proto {
  width: 90%;
}

/* navigation bar */
.my-logo {
  height: 80px;
  width: 80px;
}

nav {
  background-color: #FFFEFC;
  position: fixed;
  top: 0;
  width: 100%;
}

/* paragraph text */
p {
  font-family: proxima nova;
  font-size: 1.33em;
  padding-bottom: 36px;
  padding-left: 16px;
  padding-right: 16px;
}
/* preference image */
#preference-test {
  width: 80vw;
}

/* vision title logo */
.project-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  padding-top: 100px;
  width: 80vw;
}

/* social media icon padding */
.social-media {
  padding:10px;
  height: 80px;
  width: 80px;
}

/* vision typeface section */
.typeface {
  text-align: left;
}

#type-logo {
  width: 80vw;
}

/* unordered list style */
ul {
  list-style: none;
  font-family: proxima nova;
  font-size: 1.33em;
  padding-bottom: 36px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
}
/* chart and graph style */
#ux-graph {
  width: 90vw;
}

#ux-chart {
  width: 70vw;
}

/* wireframes style */
#wireframes {
  width: 80vw;
}
